version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app/backend
      - ./uploads:/app/backend/uploads
      - ./gcp_key.json:/app/backend/gcp_key.json
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000 --reload

  worker:
    build: .
    volumes:
      - .:/app/backend
      - ./uploads:/app/backend/uploads
      - ./gcp_key.json:/app/backend/gcp_key.json
    env_file:
      - .env
    depends_on:
      - redis
      - backend
      - postgres
    command: celery -A backend.celery_worker.celery_app worker --loglevel=info

  postgres:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
